<footer>
  <div class="about-us">
    <hr class="section-divider">
    <div class="about-container">
      <h2>Quiénes Somos<br></h2>
      <p>En Estramipyme, nos especializamos en el desarrollo de
        asesorías estratégicas para empresas, enfocándonos en proporcionar
        soluciones prácticas y financieramente viables. Nuestro objetivo es
        ser accesibles para todas las empresas que buscan optimizar y mejorar
        su estrategia de negocio.</p>
      <h3>Nuestros Principios</h3>
      <ul>
        <li><img src="assets/images/Logo_Inova.png" alt="Innovación"><i
          class="fas fa-lightbulb"></i>Innovación<br>
        </li>
        <li><img src="assets/images/Corazon.png" alt="Compromiso"><i
          class="fas fa-handshake"></i>Compromiso<br></li>
        <li><img src="assets/images/Equipo.png" alt="Calidad"><i
          class="fas fa-award"></i>Calidad<br>
        </li>
        <li><img src="assets/images/Bien.png" alt="Integralidad"><i
          class="fas fa-balance-scale"></i>Integridad<br>
        </li>
      </ul>

      <h3>Conoce a los Creadores</h3>
      <div class="team">
        <div class="team-member">
          <img src="assets/images/Yuli.jpeg" alt="Foto de Yuli"><br>
          <a
            href="https://www.freepik.es/vector-gratis/comida-mexicana-cultura-tradicional_4889929.htm#fromView=search&page=1&position=18&uuid=6b50b297-f248-4d90-8231-aa0e2452f280">Imagen
            de jemastock en Freepik</a>
          <h4>Yuli</h4>
          <p>Profesión: Ingeniera de Software</p>
        </div>
        <div class="team-member">
          <img src="assets/images/Angie.jpeg" alt="Foto de Angie"><br>
          <a
            href="https://www.freepik.es/vector-gratis/arte-dibujado-mano-nuevas-tendencias-ilustracion-pop-art_29069549.htm#from_view=detail_alsolike">Imagen
            de freepik</a>
          <h4>Angie</h4>
          <p>Profesión: Diseñadora Gráfica</p>
        </div>
        <div class="team-member">
          <img src="assets/images/Ale.jpeg" alt="Foto de Ale"><br>
          <a
            href="https://www.freepik.es/vector-gratis/ilustracion-belleza-etnica-acuarela_38882519.htm?log-in=google#fromView=image_search_similar&page=1&position=1&uuid=a6e398ec-961e-4ca0-ba79-3044e46d9eb8">Imagen
            de freepik</a>
          <h4>Ale</h4>
          <p>Profesión: Desarrolladora Web</p>
        </div>
        <div class="team-member">
          <img src="/assets/images/Sebas.jpeg" alt="Foto de Sebas"><br>
          <a
            href="https://www.freepik.es/foto-gratis/retrato-hombre-estilo-dibujos-animados_137497747.htm#fromView=search&page=1&position=0&uuid=16d56bbe-e4dc-41a1-9250-48cca4c2c3b9">Imagen
            de freepik</a>
          <h4>Carlitos</h4>
          <p>Profesión: Ingeniero de Software</p>
        </div>
        <div class="team-member">
          <img src="assets/images/Karl.jpeg" alt="Foto de Karl"><br>
          <a
            href="https://www.freepik.es/vector-gratis/ilustracion-dibujos-animados-cabeza-calva-dibujada-mano_172781238.htm#fromView=search&page=1&position=40&uuid=16d56bbe-e4dc-41a1-9250-48cca4c2c3b9">Imagen
            de freepik</a>
          <h4>Sebas</h4>
          <p>Profesión: Diseñador Gráfica</p>
        </div>
        <div class="team-member">
          <img src="assets/images/Leo.jpeg" alt="Foto de Leo"><br>
          <a
            href="https://www.freepik.es/foto-gratis/retrato-hombre-estilo-dibujos-animados_137497776.htm#fromView=search&page=1&position=9&uuid=16d56bbe-e4dc-41a1-9250-48cca4c2c3b9">Imagen
            de freepik</a>
          <h4>Leo</h4>
          <p>Profesión: Desarrollador Web</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer-section">
      <h4>Estrategia para todos!</h4>
      <p>&copy; <span id="year"></span> Stramipyme. All rights reserved.</p>
    </div>
    <div class="footer-section">
      <h4>Contactenos</h4>
      <p>Email: estramipyme.info&#64;gmail.com</p>
      <p>Telefono: +57 (00) 000-0000</p>
    </div>
    <div class="footer-section">
      <h4>Siguenos:</h4>
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
    </div>
  </div>
</footer>
