
/* Estilos para la sección "Quiénes Somos" */
.about-us {
  background-color: #000066;
  padding: 10px 5px;
  text-align: center;
  font-size: 16px;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-us p {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 16px;
}


/* Estilos del footer */
footer {
  background-color: #000066;
  color: white;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-section a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section .social-icons {
  display: flex;
  gap: 10px;
}

.footer-section .social-icons a {
  color: white;
  font-size: 20px;
}

footer p {
  margin: 5px 0;
  font-size: 14px;
}
