<div class="container">
  <h2 class="heading-form">Registrarse</h2>
  <form id="register-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="register-form-cols">
      <fieldset class="register-form__item">
        <label for="register-names">Nombres:</label>
        <input type="text" id="register-names" name="name" ngModel required />
      </fieldset>
      <fieldset class="register-form__item">
        <label for="register-surnames">Apellidos:</label>
        <input
          type="text"
          id="register-surnames"
          required
          name="surname"
          ngModel
        />
      </fieldset>

      <fieldset class="register-form__item">
        <label for="register-person-type">Tipo de Persona:</label>
        <select id="register-person-type" required name="personType" ngModel>
          <option value="sel">Selecciona</option>
          <option value="natural">Natural</option>
          <option value="jurídica">Jurídica</option>
        </select>
      </fieldset>
      <fieldset class="register-form__item">
        <label for="register-doc-type">Tipo de Documento:</label>
        <select id="register-doc-type" required name="docType" ngModel>
          <option value="sel">Selecciona</option>
          <option value="CC">CC</option>
          <option value="CE">CE</option>
          <option value="NIT">NIT</option>
        </select>
      </fieldset>

      <fieldset class="register-form__item">
        <label for="register-doc-number">Número de Documento:</label>
        <input
          type="number"
          id="register-doc-number"
          required
          name="docNumber"
          ngModel
        />
      </fieldset>

      <fieldset class="register-form__item">
        <label for="register-business-name">Razón Social:</label>
        <input
          type="text"
          id="register-business-name"
          required
          name="businessName"
          ngModel
        />
      </fieldset>

      <fieldset class="register-form__item">
        <label for="register-sector">Sector:</label>
        <select id="register-sector" required name="sector" ngModel>
          <option value="sel">Selecciona</option>
          <option value="agricultura">Agricultura y Alimentación</option>
          <option value="aeroespacial">Aeroespacial</option>
          <option value="automotriz">Automotriz</option>
          <option value="bienes">Bienes Raíces</option>
          <option value="banca">Banca y Finanzas</option>
          <option value="construcción">Construcción e Infraestructura</option>
          <option value="consultoria">Consultoría</option>
          <option value="deportes">Deportes y Recreación</option>
          <option value="electronica">
            Electrónica y Tecnología de Consumo
          </option>
          <option value="energia">Energía</option>
          <option value="educacion">Educación</option>
          <option value="finanzas">Finanzas y Banca</option>
          <option value="naval">Industria Naval</option>
          <option value="informatica">Informática y Software</option>
          <option value="transporte">Logística y Transporte</option>
          <option value="manufactura">Manufactura</option>
          <option value="ambiente">Medio Ambiente y Sustentabilidad</option>
          <option value="medios">Medios y Entretenimiento</option>
          <option value="moda">Moda y Textiles</option>
          <option value="publicidad">Publicidad y Marketing</option>
          <option value="quimicos">Químicos y Farmacéuticos</option>
          <option value="retail">Retail y Comercio</option>
          <option value="salud">Salud</option>
          <option value="seguridad">Seguridad y Protección</option>
          <option value="eventos">Servicios de Catering y Eventos</option>
          <option value="diseño">Servicios de Diseño y Creatividad</option>
          <option value="servicios">Servicios Públicos</option>
          <option value="tecnologia">Tecnología y Telecomunicaciones</option>
          <option value="turismo">Turismo y Hospitalidad</option>
          <option value="otro">Otro</option>
        </select>
      </fieldset>

      <fieldset class="register-form__item">
        <label for="register-otro">Otro Sector:</label>
        <input type="text" id="register-otro" name="otroSector" ngModel />
      </fieldset>

      <fieldset class="register-form__item">
        <label for="register-email">Correo Electrónico:</label>
        <input type="email" id="register-email" required name="email" ngModel />
      </fieldset>

      <fieldset class="register-form__item">
        <label for="register-password">Contraseña:</label>
        <input
          type="password"
          id="register-password"
          required
          name="password"
          ngModel
        />
      </fieldset>

      <fieldset [class.password-error]="passwordDoNotMatch()">
        <label for="register-confirm-password">Confirmar Contraseña:</label>
        <input
          type="password"
          id="register-confirm-password"
          required
          name="confirmPassword"
          ngModel
        />
      </fieldset>
    </div>
    <div>
      <fieldset class="register-form__item">
        <label class="datos-personales">
          Acepto el tratamiento de datos personales
        </label>
      </fieldset>
      <fieldset class="register-form__item">
        <p class="login-link">
          ¿Ya tienes una cuenta?
          <a routerLink="/login" id="show-login">Inicia sesión aquí</a>
        </p>
      </fieldset>
    </div>
    <div class="register-go-back">
      <button type="button" id="go-back" (click)="navigateTo('')">
        Regresar
      </button>
      <button type="submit" id="registerButton">Registrarse</button>
    </div>
  </form>
</div>
