<div class="modal">
  <router-outlet />
</div>
<header class="header">
  <div class="container-campo-login">
    <a href="login" *ngIf="!isLoged()" class="login">Iniciar sesión</a>
    <a href="registro" *ngIf="!isLoged()" class="register">Registrarse</a>
    <a href="login" class="close" *ngIf="isLoged()" (click)="logout()"
      >Cerrar sesión<i class="bx bx-log-in"></i
    ></a>
  </div>

  <nav class="nav" [class.nav-open]="mobileOpen()">
    <img
      src="./assets/images/logo_eafit.png"
      alt="EAFIT logo"
      class="nav__logo"
      id="logo"
    />

    <ul class="nav__links">
      <li class="nav__item">
        <a class="nav__link" href="#section--1">Cliente</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--2">Negocio</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--6">Financiera</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--3">Coherencia</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--4">Alineación Interna</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--5">Circulo dorado</a>
      </li>
    </ul>
    <button class="mobile-menu-btn" (click)="toggleMobileOpen()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon-mov-nav"
        name="menu-outline"
        viewBox="0 0 512 512"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="32"
          d="M80 160h352M80 256h352M80 352h352"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon-mov-nav"
        name="close-outline"
        viewBox="0 0 512 512"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
          d="M368 368L144 144M368 144L144 368"
        />
      </svg>
    </button>

    <div class="progress-bar">
      <div class="progress" [style.width.%]="progress()"></div>
    </div>
  </nav>
  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main"> Estramipyme </span>
      <span class="heading-primary-sub"> Planeación estratégica </span>
    </h1>
    <button class="start-test" href="#section--1" [class.hidden]="!isLoged()">
      Comenzar Test
    </button>
  </div>
</header>

<div *ngIf="isLoading" class="spinner"></div>

<main class="container" [class.hidden]="!isLoged()">
  <div class="container-form">
    <section
      class="section"
      id="section--1"
      *ngFor="let form of formsData; let i = index"
    >
      <div class="section-intro">
        <h2 class="section-title">{{ form.name }}</h2>
        <p class="section-description">
          {{ form.description }}
        </p>
      </div>

      <div
        class="form-container"
        appRenderForm
        url="http://localhost:3000/questions/?section=cliente"
      ></div>

      <form
        class="form--1"
        *ngFor="let question of form.questions; let j = index"
      >
        <fieldset class="questions question--1 Q{{ question.id }}">
          <legend>{{ question.statement }}</legend>
          <label
            *ngFor="
              let questionOption of question.questionOptions;
              let k = index
            "
          >
            <!--<input type="radio" name="Q1" value={{questionOption.id}} class="radioinput radioinput__section--1" data-id="1-1">-->
            <input
              type="radio"
              [name]="'QO' + question.id"
              [value]="questionOption.id"
              (change)="onOptionSelect(form.id, question.id, questionOption.id)"
              class="radioinput radioinput__section--1"
              [checked]="questionOption.selected"
            />
            {{ questionOption.option.text }}
          </label>
        </fieldset>
      </form>
    </section>
  </div>

  <section class="section section-undo">
    <div class="button-container">
      <button
        class="btn--borrar-formulario"
        id="borrarBtn"
        (click)="resetForm()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="trashIcon"
          viewBox="0 0 512 512"
        >
          <path
            d="M112 112l20 320c.95 18.49 14.4 32 32 32h184c17.67 0 30.87-13.51 32-32l20-320"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
          />
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="32"
            d="M80 112h352"
          />
          <path
            d="M192 112V72h0a23.93 23.93 0 0124-24h80a23.93 23.93 0 0124 24h0v40M256 176v224M184 176l8 224M328 176l-8 224"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
          />
        </svg>
        Borrar Respuestas
      </button>
    </div>
  </section>

  <section class="section section-see-results">
    <div class="section-intro">
      <h3 class="section__header">
        ¡Gracias por completar el formulario! <br />
        Apreciamos tu tiempo y colaboración.
      </h3>
    </div>
    <button (click)="onSaveResults()" class="btn btn--show-modal">
      Ver resultados!
    </button>
  </section>

  <div id="report">
    <app-pdf-generator></app-pdf-generator>
  </div>

  <!--
  <app-graphs />
  <app-graph-circle></app-graph-circle>
  <app-footer />
  -->
</main>
