.header {
  padding: 2rem;
  background-image: linear-gradient(
      to right bottom,
      rgb(0, 0, 102, 0.8),
      rgb(0, 169, 224, 0.8)
    ),
    url("../assets/images/background.webp");
  height: 95vh;
  background-size: cover;
  background-position: top;
}

.container-campo-login {
  display: flex;
  gap: 15px;
  align-content: center;
  flex-direction: row;
  justify-content: end;
}

.bx {
  font-size: 22px;
  color: white;
  align-content: center;
}

.login,
.close {
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: white;
  align-content: center;
  align-items: center;
  font-size: 1rem;
}

.register{
  text-decoration: none;
  color: white;
  padding: 4px 8px 4px 8px;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 1rem;
}


.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container form {
  background-color: #f9f9f9;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
}

.section {
  padding: 8rem 3rem 2rem 3rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

.section-intro {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 80rem;
  margin: 0 auto 5rem auto;
}

.section-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.section-description {
  font-size: 1.3rem;
}

.start-test {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.7rem 3.5rem;
  border: none;
  border-radius: 10rem;
  background-color: #ff8f1b;
  color: #fff;
  cursor: pointer;
}

.start-test:hover {
  background-color: white;
  color: #155fe7;
}
