
<div class="container">
  <form id="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <h2 class="heading-form">Iniciar Sesión</h2>
    <div class="container-informacion">
      <div class="campos">
        <i class="bx bx-envelope"></i>
        <label for="login-email">Email</label>
      </div>
      <input
        type="email"
        id="login-email"
        [(ngModel)]="credentials.email"
        name="email"
        #email="ngModel"
        required
      />
      <div *ngIf="email.invalid && email.touched" style="color: red">
        El email es obligatorio.
      </div>
    </div>

    <div class="container-informacion">
      <div class="campos">
        <i class="bx bx-lock"></i>
        <label for="login-password">Contraseña:</label>
      </div>
      <input
        type="password"
        id="login-password"
        [(ngModel)]="credentials.password"
        name="password"
        #password="ngModel"
        required
      />
      <div *ngIf="password.invalid && password.touched" style="color: red">
        La contraseña es obligatoria.
      </div>
    </div>

    <div class="container-recordar-contrasenia">
      <div>
      <label for="rememberMe"> </label>
      <input type="checkbox" id="remember-me" name="rememberMe" ngModel />
        Recordarme
      </div>
      <p>
        <a href="#" id="forgot-password">¿Has olvidado la contraseña?</a>
      </p>
    </div>

    <button
      type="submit"
      id="loginButton"
      class="btn-register"
      [disabled]="loginForm.invalid"
    >
      Ingresar
    </button>

    <p>
      ¿No tienes cuenta?
      <a href="registro" id="show-register">Regístrate</a>
    </p>
    <div class="register-go-back">
    <button type="button" id="go-back" (click)="navigateTo('')">
      Regresar
    </button>
  </div>
  </form>
</div>
