<div class="container">
  <h2 class="heading-form">Iniciar Sesión</h2>
  <form id="login-form" (ngSubmit)="onSubmit(login)" #login="ngForm">
    <label for="login-email">Correo Electrónico:</label>
    <input type="email" id="login-email" name="email" ngModel required/>

    <label for="login-password">Contraseña:</label>
    <input type="password" id="login-password" name="password" ngModel required/>

    <label>
      <input type="checkbox" id="remember-me" name="rememberMe" ngModel/>
      Recordarme
    </label>

    <button type="submit" id="loginButton" class="btn-register">
      Iniciar Sesión
    </button>

    <p>
      <a href="#" id="forgot-password">¿Has olvidado la contraseña?</a>
    </p>
    <p>
      ¿Aún no tienes cuenta?
      <a href="registro" id="show-register">Crea una aquí</a>
    </p>
    <button type="button" id="go-back" (click)="navigateTo('')">Regresar</button>
  </form>
</div>



