<section class="section section-radar">
  <div class="section-container">
    <div class="radar-content">
      <div class="radar-description">
        <h2 class="section-title-radar">Radar Estratégico Organizacional</h2>
        <p class="section-description-radar">
          El Radar Estratégico es una herramienta que permite visualizar el
          nivel de desarrollo de diferentes áreas clave dentro de una empresa. A
          través de este gráfico, se pueden identificar fortalezas y
          oportunidades de mejora en áreas como finanzas, cliente, negocio,
          entre otras.
        </p>
      </div>
      <canvas id="myChart" class="myChart" #graph></canvas>
    </div>
  </div>
</section>
