<header class="header">
  <nav class="nav">
    <div class="contened">
      <div class="tuProgreso">
        <progress
          id="progreso"
          class="progreso"
          value="0"
          max="100"
        ></progress>
      </div>
    </div>

    <ul class="nav__links">
      <li class="nav__item">
        <a class="nav__link" href="#section--1">Cliente</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--2">Negocio</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--3">Coherencia</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--4">Alineación Interna</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--5">Circulo dorado</a>
      </li>
      <li class="nav__item">
        <a class="nav__link nav__link--btn btn--show-modal" href="#"
        >Ver Resultados</a
        >
      </li>
    </ul>
    <img
      src="./assets/images/logo_eafit.png"
      alt="EAFIT logo"
      class="nav__logo"
      id="logo"
    />
  </nav>
  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main"> Estramipyme </span>
      <span class="heading-primary-sub"> Planeación estratégica </span>
    </h1>
    <button class="start-test" href="#section--1">Comenzar Test</button>
  </div>
</header>
<section class="section" id="section--1">
  <div class="section-intro">
    <h2 class="section-title">Conocimiento del cliente</h2>
    <p class="section-description">
      Esta sección consta de 10 preguntas, con este test se pretende evaluar
      el conocimiento que se tiene acerca del cliente y poder identificar
      oportunidades de mejoramiento; El tiempo estimado para esta sección es
      de 5 minutos.
    </p>
  </div>

  <div class="form-container">
    <!-- <form class="form--1">
      <fieldset class="questions question--1" data-question-id="1">
        <legend data-l-s="8232">
          ¿Qué tan precisa es la información demográfica de sus clientes
          (edad, género, ubicación, etc.) en su base de datos?
        </legend>
        <label>
          <input
            type="radio"
            name="Q1"
            value="1"
            class="radioinput radioinput__section--1"
            data-id="1-1"
          />Notengo </label
        ><label>
          <input
            type="radio"
            name="Q1"
            value="2"
            class="radioinput radioinput__section--1"
            data-id="1-2"
          />Muy poco </label
        ><label>
          <input
            type="radio"
            name="Q1"
            value="3"
            class="radioinput radioinput__section--1"
            data-id="1-3"
          />Buena </label
        ><label>
          <input
            type="radio"
            name="Q1"
            value="4"
            class="radioinput radioinput__section--1"
            data-id="1-4"
          />excelente
        </label>
      </fieldset>
    </form> -->
  </div>
</section>

<section class="section" id="section--2">
  <div class="section-intro">
    <h2 class="section-title">Conocimiento del Negocio</h2>
    <p class="section-description">
      Con este formulario nos referimos a la habilidad relacionada con poder
      tomar las decisiones adecuadas, en situaciones cotidianas, basado en
      nuestro entendimiento de cómo el negocio genera dinero y de su
      relación con los clientes y empleados
    </p>
  </div>

  <div class="form-container"></div>
</section>

<section class="section" id="section--3">
  <div class="section-intro">
    <h2 class="section-title">coherecia de negocio</h2>
    <p class="section-description">
      Este es un cuestionario para evaluar la coherencia del negocio,
      contará con 3 fases proposito, proceso y producto
    </p>
  </div>

  <div class="form-container"></div>
</section>

<section class="section" id="section--4">
  <div class="section-intro">
    <h2 class="section-title">alineación interna</h2>
    <p class="section-description">
      Este es un cuestionario para evaluar la coherencia y consistencia
      entre el plan estrátegico, la cultura empresarial los procesos y
      proyectosque colaboran para el cumplimiento de los objetivos
      organizacionales.
    </p>
  </div>
  <div class="form-container"></div>
</section>
<section class="section" id="section--5">
  <div class="section-intro">
    <h2 class="section-title">Circulo Dorado</h2>
    <p class="section-description">
      El círculo dorado propone encontrar una explicación en la razón de ser
      que tiene cada situación y cada acción a partir del reconocimiento de
      nuestro interior. Encontrar lo que realmente nos mueve, lo que
      realmente nos constituye y nos dirige a realizar las cosas cada vez de
      una mejor manera.<br/>
      Este cuestionario está diseñado para ayudar a las empresas a
      identificar en qué nivel se encuentran según el modelo del círculo
      dorado. A continuación, encontrará una serie de preguntas en las que
      deberá responder en qué nivel se encuentra su empresa.
    </p>
  </div>
  <div class="form-container"></div>
</section>
<section class="section section-see-results">
  <div class="section-intro">
    <h3 class="section__header">
      ¡Gracias por completar el formulario! Apreciamos tu tiempo y
      colaboración. !
    </h3>
  </div>
  <button class="btn btn--show-modal">Ver resultados!</button>
</section>
<section class="section section-radar">
  <canvas id="myChart"></canvas>
</section>
<router-outlet></router-outlet>
