.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.resetPassword {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 1.5rem;
}

.heading-form {
  color: #0e0e61;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.resetPassword label {
  color: #333;
  font-weight: 600;
}

.resetPassword input {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}
