<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="main">

    <div class="main__top">
      <div>
        <img src="" alt="">
        <p>4/11/2024</p>
      </div>

      <div>
        <img src="" alt="">
        <p>Jhon Doe</p>
      </div>

    </div>

    <h1>Reporte de resultados</h1>
    <hr>

    <!--
    <h2>Radar</h2>
    <p>El radar estratégico es una herramienta que permite visualizar el nivel de desarrollo de diferentes areas clave
      dentro de una empresa. A traves de este gráfico, se pueden identificar fortalezas y oportunidades de mejora en áreas
      como finanzas, cliente, negocio, entre otras.
    </p>
    -->

     <!--espacio para las gráficas-->

    <div>
      <app-graphs></app-graphs>
    </div>


    <hr>

    <!--
    <h2>Circulo dorado</h2>
    <p>El circulo dorado, desarrollado por Simon Sinek, es un modelo que ayuda a las empresas a identificar su propósito ¿Porqué?
      , procesos (¿Cómo?) y productos y servicios (¿Qué?). Este modelo es crucial para alinear las estrategias de la empresa
      con su visión y misión.
    </p>
    -->

    <div>
      <app-graph-circle></app-graph-circle>
    </div> <!--espacio para el grafico circulo dorado-->


    <button class="button">Genera el reporte en PDF</button>

  </main>
</body>
</html>
