<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="main">

    <div class="main__top">
      <div>
        <img src="" alt="">
        <p>4/11/2024</p>
      </div>

      <div>
        <img src="" alt="">
        <p>Jhon Doe</p>
      </div>

    </div>

    <h1>Reporte de resultados</h1>
    <hr>

    <h2>Radar</h2>
    <figure>
      <div class="box__radar">
        <p>Visualizacion del radar</p>
      </div>
    </figure>

    <hr>

    <h2>Circulo dorado</h2>

    <figure>
      <div class="box__radar">
        <p>Visualizacion del circulo dorado</p>
      </div>
    </figure>

    <button class="button" (click)="clickPdf()">Genera el reporte en PDF</button>

  </main>
</body>
</html>
