<section class="section section-circle">
  <div class="section-intro-circle">
    <h2 class="section-title">Círculo Dorado</h2>
    <p class="section-description-circle">
      El Círculo Dorado, desarrollado por Simon Sinek, es un modelo que ayuda a
      las empresas a identificar su propósito (¿Por qué?), procesos (¿Cómo?) y
      productos o servicios (¿Qué?). Este modelo es crucial para alinear las
      estrategias de la empresa con su visión y misión.
    </p>
  </div>
  <div #circle style="width: 600px; height: 400px"></div>
</section>
