@media (max-width: 80em) {
  body {
    /*background-color: red;*/
  }

  .nav {
    padding: 1rem 3rem;
  }

  form {
    font-size: 1rem;
  }
}


@media (max-width: 71em) {
  body {
    /*background-color: red;*/
  }

  .nav {
    padding: 1rem 3rem;
  }

  form {
    font-size: 0.8rem;
  }

  .nav {
    font-size: 0.2rem;
  }

  .nav__link:link,
  .nav__link:visited {
    font-size: 1rem;
    font-weight: 400;
    /* color: inherit; */
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }

  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.3rem 0.3rem;
    border-radius: 3rem;
    /* background-color: var(--color-primary); */
    /* color: #222; */
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-description {
    font-size: 1rem;
  }

  .form-container {

    margin: 0 5rem;
  }

  .nav__logo {
    height: 2rem;
  }

  .nav__item {
    margin-left: 2rem;
  }

}

@media (max-width: 58em) {
  body {
    /*background-color: red;*/
  }

  .heading-primary-main {
    font-size: 3rem;
  }

  .heading-primary-sub {
    font-size: 1rem;
  }

  .start-test {
    font-size: 1.5rem;
  }

  .section-see-results .btn {
    font-size: 1.5rem;

  }

  .nav__link:link,
  .nav__link:visited {
    font-size: 0.7rem;
  }

  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.3rem 0.3rem;
    border-radius: 3rem;
    /* background-color: var(--color-primary); */
    /* color: #222; */
  }

  .form-container {

    margin: 0 2rem;
  }


}

@media (max-width: 44em) {
  .mobile-menu-btn {
    display: block;
  }

  .nav__links {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*hid navigation*/
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  .nav__link:link,
  .nav__link:visited {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .nav-open .nav__links {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .icon-mov-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mov-nav[name='menu-outline'] {
    display: none;
  }

  .radar-content {
    grid-template-columns: 1fr;
  }

  .form-container {
    margin: 0 1rem;
  }

  .heading-primary-main {
    font-size: 1rem;
  }

  .heading-primary-sub {
    font-size: 0.5rem;
  }

  .start-test {
    font-size: 1rem;
    padding: 1rem 3rem;
  }

  .section-see-results .btn {
    font-size: 1rem;
    padding: 1rem 3rem;
  }
}

@media (max-width: 38em) {
  footer {
    display: none;
  }
}

