/* You can add global styles to this file, and also import other style files */
.header {
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 0, 93, 0.8),
    rgb(91, 100, 175, 0.8)
  ),
  url("assets/images/background.webp");
  height: 95vh;
  background-size: cover;
  background-position: top;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background-color: #f3f3f3;
  /* padding: 30px; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 1rem 6rem;
  z-index: 100;

  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17px;
}

.start-test {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.7rem 3.5rem;
  border: none;
  border-radius: 10rem;
  color: #4eaad2;
  cursor: pointer;
}

.start-test:hover {
  background-color: #eb704b;
  color: #fff;
}

.nav,
.contened {
  width: 109.3%;
  display: block;
}

.hidden {
  display: none;
}

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3rem;
  width: 70%;
  height: 70%;
  z-index: 20;
  overflow: hidden;
} */

/* .close-btn {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  border: none;
  color: black;
  font-size: 2rem;
  background: none;
  cursor: pointer;
} */

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 5;
} */

/* label::after {
  content: "";
  margin-right: 5px;
  } */

fieldset {
  border: none;
  margin-top: 30px;
  display: grid;
}

input {
  margin-right: 7px;
}

legend {
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 15px;
}

form {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 5px;
}

fieldset label::before {
  content: "";
  margin-right: 15px;
}

.section {
  padding: 10rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.section-intro {
  max-width: 80rem;
  margin: 0 auto 5rem auto;
}

.section-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.section-description {
  font-size: 1.3rem;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  margin: 0 10rem;
}

.nav__logo {
  height: 2.5rem;
}

.nav__links {
  display: flex;
  justify-content: center;
  position: relative;
  list-style: none;
  top: 44%;
  left: 2%;
}

.nav__link {
  color: #444

}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.1rem;
  font-weight: 400;
  /* color: inherit; */
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.3rem 1rem;
  border-radius: 3rem;
  /* background-color: var(--color-primary); */
  /* color: #222; */
}

.selected-link {
  color: #4EAAD2;
  /* text-decoration: underline; */
  /* text-decoration-color: #58B0A8; */
  /* font-weight: bold; */
  /* background-color: #58b0a8; */
  /* border-radius: 50px; */
  /* padding: 5px 10px; */
}

.btn {
  display: inline-block;
  background-color: #00005d;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}

.section-see-results .btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
}

.section-see-results {
  background-color: #4eaad2;
  text-align: center;
}

.contened {
  position: relative;
  right: 9.6%;
  top: 121%;
  background: transparent;
  padding: 0 20px;
}

.contened .tuProgreso {
  margin: -15px 0;
}

.tuProgreso {
  display: flex;
  /* background-color: red; */
  /* padding: 0;
  height: 100%;
  margin: 0; */
}

.bar-remaining {
  display: block;
  /* width: auto%รง; */
  /* width: auto; */
}

/*.contened .tuProgreso p {
  width: 100%;
  display: flex;
  justify-content: space-between; /*poner los textos en ambos extremos del contenedor*/
.contened .tuProgreso {
  width: 100%;
}

.tuProgreso {
  background: #58b0a8;
}

.progreso {
  width: 100%;
}

.contened .tuProgreso .progreso {
  position: relative;
  /*width: 100%;*/
  height: 6px;
  border-radius: 6px;
  overflow: hidden; /*ocultar contenido de los contenedores*/
}

.contened .tuProgreso .progreso::before {
  content: "";
  position: absolute;
  /*width: var(--wth); variable personalizada para poder definir el contenido del progreso*/
}

.progreso::-webkit-progress-bar {
  background-color: #00005d; /* Color de fondo de la barra en navegadores WebKit */
}

/* .tuProgreso{
  background-color: red;
} */

/* .question--33{
  border: solid 2px red;
  padding: 20px;
}
.question--33::before{
  content:"Esto no puede estar vacio";
  color:red;
} */


.section-radar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: #f9f9f9;
}

#myChart {
  max-width: 800px;
  max-height: 800px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*
.chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 6px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
 */
