/* You can add global styles to this file, and also import other style files */
.header {
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 0, 93, 0.8),
    rgb(91, 100, 175, 0.8)
  ),
  url("assets/images/background.webp");
  height: 95vh;
  background-size: cover;
  background-position: top;
}
