.section-radar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: #f9f9f9;
}

#myChart {
  max-width: 800px;
  max-height: 800px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.section-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.radar-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  align-items: start;
  width: 100%;
}

.radar-description-radar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-title-radar {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-description-radar {
  text-align: justify;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

.accordion-content {
  display: none;
  padding: 15px 0;
  font-size: 1rem;
}

.accordion-item.active .accordion-content {
  display: block;
}
