/*GLOBAL STYLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

/*HEADER*/
.header {
  padding: 2rem;
  background-image: linear-gradient(
      to right bottom,
      rgb(0, 0, 102, 0.8),
      rgb(0, 169, 224, 0.8)
    ),
    url("assets/images/background.webp");
  height: 95vh;
  background-size: cover;
  background-position: top;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17px;
}

.start-test {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.7rem 3.5rem;
  border: none;
  border-radius: 10rem;
  color: #155fe7;
  cursor: pointer;
}

.start-test:hover {
  background-color: #ff8f1b;
  color: #fff;
}

.blocked {
  overflow: hidden;
}

.login {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

/* BOTON LOGIN */
.login ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.login ul li {
  font-size: 1.3rem;
}

/** * * * * * * * * * * * * **/
/*NAVIGATION*/
/** * * * * * * * * * * * * **/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  width: 100%;
  padding: 1rem 6rem;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 2.5rem;
}

.nav__link {
  color: #444;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.1rem;
  font-weight: 400;
  /* color: inherit; */
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.3rem 1rem;
  border-radius: 3rem;
  /* background-color: var(--color-primary); */
  /* color: #222; */
}

.hidden {
  display: none;
}

.selected-link {
  color: #46c69f;
}

.nav__links {
  list-style: none;
  display: flex;
}

.progress-bar {
  position: absolute;
  display: flex;
  width: 100%;
  height: 5px;
  background-color: #508f7d;
  top: 110px;
  left: 0;
  z-index: 500;
}

.progress {
  width: 75%;
  background-color: #000066;
}

/*MOBILE NAVIGATION*/
.mobile-menu-btn {
  display: flex;
  border: none;
  cursor: pointer;
  color: #333;
  background: white;
  display: none;
  z-index: 20;
}

.icon-mov-nav {
  width: 2.8rem;
  height: 2.8rem;
}

.icon-mov-nav[name="close-outline"] {
  display: none;
}

/** * * * * * * * * * * * * **/
/* SECTION STYLES */
/** * * * * * * * * * * * * **/
.section {
  padding: 10rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.section-intro {
  max-width: 80rem;
  margin: 0 auto 5rem auto;
}

.section-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.section-description {
  font-size: 1.3rem;
}

/** * * * * * * * * * * * * **/
/* FORMS STYLES */
/** * * * * * * * * * * * * **/
form {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 5px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  margin: 0 10rem;
}

fieldset {
  border: none;
  margin-top: 30px;
  display: grid;
}

input {
  margin-right: 7px;
}

legend {
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 15px;
}

fieldset label::before {
  content: "";
  margin-right: 15px;
}

/** * * * * * * * * * * * * **/
/* SEE RESULTS */
/** * * * * * * * * * * * * **/

.btn {
  display: inline-block;
  background-color: #000066;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}

.section-see-results .btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
}

.section-see-results {
  background-color: #00a9e0;
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}

/** * * * * * * * * * * * * **/
/* RADAR SECTION */
/** * * * * * * * * * * * * **/

.section-radar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: #f9f9f9;
}

#myChart {
  max-width: 800px;
 /* max-height: 800px; */
  width: 100%;
  display: block;
  margin: 0 auto;
}

.section-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.radar-content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  width: 100%;
}

.radar-description-radar {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  gap: 2rem;
  text-align: justify;
}

.section-title-radar {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-description-radar {
  text-align: justify;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

/** * * * * * * * * * * * * **/
/* LOGIN FORM */
/** * * * * * * * * * * * * **/

.loging-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 200;
}

/** * * * * * * * * * * * * **/
/* FORMULARIO DE REGISTRO */
/** * * * * * * * * * * * * **/

.register-form-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 3rem;
}

.register-go-back {
  display: flex;
  justify-content: space-around;
}

#register-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f3f3f3;
  padding: 2rem;
}

#register-section .container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /*max-width: 600px;*/
  width: 100%;
  margin: auto;
}

#register-section h2 {
  font-size: 2.2rem;
  color: #000066;
  margin-bottom: 1.5rem;
  text-align: center;
}

#register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#register-form label {
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 600;
}

#register-form input,
#register-form select {
  padding: 0.3rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

#register-form input[type="checkbox"] {
  margin-right: 0.5rem;
}

#registerButton {
  background-color: #000066;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#registerButton:hover {
  background-color: #00a9e0;
}

#go-back {
  background-color: #708676;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: inline-block;
  width: 100px;
  text-align: center;
}

#go-back-container {
  text-align: left;
}

#go-back:hover {
  background-color: #508f7d;
}

label input[type="checkbox"] {
  margin-right: 0.5rem;
}

#register-form p {
  font-size: 0.9rem;
  color: #444;
  text-align: center;
  margin-top: 0.5rem;
}

#register-form a {
  color: #00005d;
  text-decoration: none;
  font-weight: 500;
}

#register-form a:hover {
  color: #00a9e0;
}

/*STYLES FORMS*/

.register-form__item {
  margin-top: 1rem;
}

.heading-form {
  color: #ff8f1b;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

/** * * * * * * * * * * * * **/
/* VALIDACIÓN RESPUESTAS */
/** * * * * * * * * * * * * **/
.fieldset-error {
  border: 2px solid #f0142c;
  padding: 20px;
  position: relative;
}

.fieldset-error::before {
  content: "Este campo no puede estar vacío";
  color: #f0142c;
  position: absolute;
  top: -10px;
  left: 40px;
}

/** * * * * * * * * * * * * **/
/* BOTÓN BORRAR RESPUESTAS*/
/** * * * * * * * * * * * * **/

.section-undo {
  padding: 10px 10px;
  margin-top: -80px;
  text-align: right;
  background-color: #f3f3f3;
}

.button-container {
  display: inline-block;
  margin-right: 15%;
}

.btn--borrar-formulario {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 8px 15px;
  font-size: 14px;
  background-color: #ffffff;
  color: #777;
  border: 1px solid #ff8f1b;
  border-radius: 10rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn--borrar-formulario:hover {
  background-color: #ff8f1b;
  color: white;
}

.trashIcon {
  width: 1.5rem;
  height: 1.5rem;
}

/*.datos-personales {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

#register-accept-data {
  display: flex;
  flex-direction: column;
}
